# Node.js
node_modules/
package-lock.json

# Environment variables
.env

# Build outputs
/dist/
/build/
dist/
build/

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
/jam.json
/lock.json

# Miscellaneous
.DS_Store
Thumbs.db

# Vercel
.vercel
.vercel/
